*{
    margin: 0px;
    padding: 0px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: normal;
    
}

.list a{
    text-decoration: none;
    color: black;
}   

.title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.title i{
    padding-top: 5px;
    border-radius: 50%;
    padding: 10px   ;
    font-size: 30px;
    color: orangered;
}

.xaaayow button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    color: white;
}

.yow{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.call{
    display: flex;
    gap: 10px;
    align-items: center;
}

.call i{
    padding-top: 5px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 10px   ;
}

.image{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://i.pinimg.com/736x/1b/d3/97/1bd3975bad08fbaf2e7413bde1fbf733.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 0px 50px 50px;
}

.image h1{
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 90px;
}

.image p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.image button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    margin-left: 680px;
    margin-top: 20px;
}

.main{
    padding-left: 60px;
    padding-top: 40px;
    display: flex;
    gap: 80px;
}



.tick{
    display: flex;
    gap: 10px;
    align-items: center;
}

.Special button{
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.left img{
    margin-left: 300px;
    border-radius: 10px;
    position: relative;
}

.left i{
    position: absolute;
    top: 810px;
    right: 125px;
    border: 3px solid white;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20%;
}

.box{
    background-color: gray;
    width: 170px;
    height: 100px;
    border-radius: 10%;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.box-flex{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}   

.general{
    display: flex;
    gap: 50px;
    margin-top: 70px;
    margin-left: 60px;
}


.special-text{
    text-align: center;
    padding-top: 70px;
}

.general22{
    display: flex;
    gap: 50px;
    background-color: orangered;
    color: white;
    width: 60%;
    height: 200px;
    margin-left: 300px;
    margin-top: 40px;
    padding-left: 50px;
    padding-top: 20px;
    border-radius: 10px;
}

